.total-container {
  display: flex;
  margin: 20px 20px;
}

.total-title {
  width: 200px;
  font-weight: bold;
}

.total {
  font-weight: bold;
  width: 25px;
  display: flex;
  justify-content: flex-end;
}
